## Operators

### 1.Arithmetic

In [1]:
sal_1 = 4000
sal_2 = 2000
print(sal_1  + sal_2, type(sal_1),type(sal_2),id(sal_1),id(sal_2))

6000 <class 'int'> <class 'int'> 2261613850192 2261613839664

In [2]:
sal_1 = 3000
sal_2 = 2000
print(sal_1  - sal_2, type(sal_1),type(sal_2),id(sal_1),id(sal_2))

1000 <class 'int'> <class 'int'> 2261613839824 2261613839280

In [3]:
sal_1 = 3000
sal_2 = 2000
print(sal_1 * sal_2, type(sal_1),type(sal_2),id(sal_1),id(sal_2))

6000000 <class 'int'> <class 'int'> 2261613839376 2261613844176

In [4]:
sal_1 = 6000
sal_2 = 2000
print(sal_1  / sal_2, type(sal_1),type(sal_2),id(sal_1),id(sal_2))

3.0 <class 'int'> <class 'int'> 2261613840592 2261613851312

In [5]:
sal_1 = 4000
sal_2 = 2000
print(sal_1  // sal_2, type(sal_1),type(sal_2),id(sal_1),id(sal_2))

2 <class 'int'> <class 'int'> 2261613840464 2261613839952

In [6]:
sal_1 = 3000
sal_2 = 2000
print(sal_1  % sal_2, type(sal_1),type(sal_2),id(sal_1),id(sal_2))

1000 <class 'int'> <class 'int'> 2261613840304 2261613840336

In [7]:
sal_1 = 3
power = 2
print(sal_1  ** power)

9

### 2.Comparison

In [8]:
age = 20
major_age = 18
print(f'He is eligible for marriage:{age>major_age}')

He is eligible for marriage:True

In [9]:
age = 10
major_age = 18
print(f'He not eligible for marriage:{age < major_age}')

He not eligible for marriage:True

In [10]:
age = 18
major_age = 18
print(f'He is eligible for marriage:{age <= major_age}')

He is eligible for marriage:True

In [11]:
age = 10
Kid_cut_off = 10
print(f'He is kid:{age >= Kid_cut_off}')

He is kid:True

### 3. Assignment

In [12]:
age = 30 
print(age)

30

In [13]:
age += 3
print (age)

33

In [14]:
age -= 3
print (age)

30

In [15]:
age /= 3
print (age)

10.0

In [16]:
age //= 3
print (age)

3.0

### 4.Logical

In [17]:
age = 20 
min_numbers = 4
max_numbers = 18

print (f"He is young guy : {age >= min_numbers and age <= max_numbers}")

He is young guy : False

In [18]:
age = 20 
min_numbers = 15
max_numbers = 15

print (f"He is young guy : {age >= min_numbers or age <= max_numbers}")

He is young guy : True

In [19]:
age = 20 
min_numbers = 15
max_numbers = 25

print (f"He is young guy : {not (age >= min_numbers and age <= max_numbers)}")

He is young guy : False

In [20]:
age = 20 
min_numbers = 15
max_numbers = 25

print (f"He is young guy : {not (age >= min_numbers or age <= max_numbers)}")

He is young guy : False

In [21]:
age = 20 
min_numbers = 15
max_numbers = 25

print (f"He is young guy : {not (age == min_numbers and age == max_numbers)}")

He is young guy : True

In [22]:
first_name = input ("Enter first name : ")
last_name = input("Enter last name: ")
print(f"Signup the page :{first_name == 'kiran' and last_name == 'kumar'}")

Enter first name :  30
Enter last name:  20

Signup the page :False

In [23]:
first_name = input ("Enter first name : ")
last_name = input("Enter last name: ")
print(f"Signup the page :{first_name == 'kiran' or last_name == 'kumar'}")

Enter first name :  kiran
Enter last name:  kiran

Signup the page :True

In [24]:
age = int(input("Enter age:"))
kid_age =5
younger_age = 18
men_age = 25
print(f"""He is kid :{age >=kid_age and age <=kid_age}
He is younger : {age >= younger_age and age <= younger_age}
He is men : {age>= men_age or age <= men_age} """)

Enter age: 30

He is kid :False
He is younger : False
He is men : True

### 5.Identical

In [25]:
...

Ellipsis